# Pandas Problem Set

In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics

In [73]:
url = "https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/NotebookExampleData/Week1/diabetes.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'd_class']

Read in csv above to a pandas dataframe

In [81]:
data = pd.read_csv(url, names=names)
data

     preg  plas  pres  skin  test  mass   pedi  age  d_class
0       6   148    72    35     0  33.6  0.627   50        1
1       1    85    66    29     0  26.6  0.351   31        0
2       8   183    64     0     0  23.3  0.672   32        1
3       1    89    66    23    94  28.1  0.167   21        0
4       0   137    40    35   168  43.1  2.288   33        1
..    ...   ...   ...   ...   ...   ...    ...  ...      ...
763    10   101    76    48   180  32.9  0.171   63        0
764     2   122    70    27     0  36.8  0.340   27        0
765     5   121    72    23   112  26.2  0.245   30        0
766     1   126    60     0     0  30.1  0.349   47        1
767     1    93    70    31     0  30.4  0.315   23        0

[768 rows x 9 columns]

Print out the age and class of the 100th patient

In [76]:
data.iloc[99,7:9]

age        31.0
d_class     1.0
Name: 99, dtype: float64

Write code to figure out how many people are classified as not having diabetes, class is 0

In [84]:
data_diabetes_boolean = data.d_class==0.0
# data[data_diabetes_boolean]
print(data[data_diabetes_boolean].shape[0])

768

Write code to figure out how many people are classified as having diabetes, class is 1

In [85]:
data_diabetes_boolean = data.d_class==1.0
print(data[data_diabetes_boolean].shape[0])

0

What percent of people have diabetes in the study

In [ ]:
str(100*268/768) + "%"

Print out the pressure and class (no other columns) for the first 5 people (hint: this was not shown in our tutorial google how to select multiple columns with loc)

Being able to effectively google is a very important coding tool ¯\\\_(ツ)_/¯

In [ ]:
data.loc[0:4, ["pres", "classes"]]

Run the cell below, it will print out the correlation among the columns

In [ ]:
data.corr()

What column has the highest correlation with class? Find the mean() value of that column

In [ ]:
plas_mean = data["plas"].mean()
plas_mean

Create a new dataframe with only people that are above the mean found above

In [ ]:
data_plas_boolean = data.plas > plas_mean
new_data = data[data_plas_boolean]
new_data

Create a new dataframe that only includes people who are above the average value for each column in the dataset (except 'class'). In other words, find the average value for each column, and then find which users have values above all of these average column values

In [ ]:
data_preg_boolean = data.preg > data.preg.mean()
data_plas_boolean = data.plas > data.plas.mean()
data_pres_boolean = data.pres > data.pres.mean()
data_skin_boolean = data.skin > data.skin.mean()
data_test_boolean = data.test > data.test.mean()
data_mass_boolean = data.mass > data.mass.mean()
data_pedi_boolean = data.pedi > data.pedi.mean()
data_age_boolean = data.age > data.age.mean()
data_classes_boolean = data.classes > data.classes.mean()

data_boolean = data[data_preg_boolean & data_plas_boolean & data_pres_boolean & data_skin_boolean & data_test_boolean & data_mass_boolean & data_pedi_boolean & data_age_boolean & data_classes_boolean]

data_boolean

Ignoring the index (resetting the index to 0), sort the values based on "skin", "test", and "pedi" values in ascending order. Please write this in one line.

In [ ]:
filtered = data_boolean.sort_values(by=['skin','test','pedi'], ascending=True, na_position='first').reset_index(drop=True)
filtered

Notice that there are some repeats in values (like in the age and the preg column).

Now Let's find the 4 largest values for "age" and "mass". Reference the pandas documentation (https://pandas.pydata.org/docs/) if you are stuck!

In [ ]:
filtered_by_age_and_mass = filtered.sort_values(by=['age','mass'], ascending=False, na_position='first')
filtered_by_age_and_mass[0:4]

Now find the smallest 4 values for "plas" and "preg" in reverse order (largest to smallest). Please refer to the API documentation if you are stuck-- https://pandas.pydata.org/pandas-docs/stable/reference/index.html

In [ ]:
filtered_by_plas_and_preg = filtered.sort_values(by=['plas','preg'], ascending=False, na_position='first')
filtered_by_plas_and_preg[0:4]