# Pandas Problem Set

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics

In [10]:
url = "https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/NotebookExampleData/Week1/diabetes.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'classes']

Read in csv above to a pandas dataframe

In [11]:
data = pd.read_csv(url, names=names)

Print out the age and class of the 100th patient

In [12]:
data.iloc[100,7:9]

age        33.0
classes     1.0
Name: 100, dtype: float64

Write code to figure out how many people are classified as not having diabetes, class is 0

In [15]:
data_diabetes_boolean = data.classes==0.0
data[data_diabetes_boolean]

     preg  plas  pres  skin  test  mass   pedi  age  classes
1       1    85    66    29     0  26.6  0.351   31        0
3       1    89    66    23    94  28.1  0.167   21        0
5       5   116    74     0     0  25.6  0.201   30        0
7      10   115     0     0     0  35.3  0.134   29        0
10      4   110    92     0     0  37.6  0.191   30        0
..    ...   ...   ...   ...   ...   ...    ...  ...      ...
762     9    89    62     0     0  22.5  0.142   33        0
763    10   101    76    48   180  32.9  0.171   63        0
764     2   122    70    27     0  36.8  0.340   27        0
765     5   121    72    23   112  26.2  0.245   30        0
767     1    93    70    31     0  30.4  0.315   23        0

[500 rows x 9 columns]

Write code to figure out how many people are classified as having diabetes, class is 1

In [16]:
data_diabetes_boolean = data.classes==1.0
data[data_diabetes_boolean]

     preg  plas  pres  skin  test  mass   pedi  age  classes
0       6   148    72    35     0  33.6  0.627   50        1
2       8   183    64     0     0  23.3  0.672   32        1
4       0   137    40    35   168  43.1  2.288   33        1
6       3    78    50    32    88  31.0  0.248   26        1
8       2   197    70    45   543  30.5  0.158   53        1
..    ...   ...   ...   ...   ...   ...    ...  ...      ...
755     1   128    88    39   110  36.5  1.057   37        1
757     0   123    72     0     0  36.3  0.258   52        1
759     6   190    92     0     0  35.5  0.278   66        1
761     9   170    74    31     0  44.0  0.403   43        1
766     1   126    60     0     0  30.1  0.349   47        1

[268 rows x 9 columns]

What percent of people have diabetes in the study

In [17]:
str(100*268/768) + "%"

'34.895833333333336%'

Print out the pressure and class (no other columns) for the first 5 people (hint: this was not shown in our tutorial google how to select multiple columns with loc)

Being able to effectively google is a very important coding tool ¯\\\_(ツ)_/¯

In [22]:
data.loc[0:4, ["pres", "classes"]]

   pres  classes
0    72        1
1    66        0
2    64        1
3    66        0
4    40        1

Run the cell below, it will print out the correlation among the columns

In [23]:
data.corr()

             preg      plas      pres  ...      pedi       age   classes
preg     1.000000  0.129459  0.141282  ... -0.033523  0.544341  0.221898
plas     0.129459  1.000000  0.152590  ...  0.137337  0.263514  0.466581
pres     0.141282  0.152590  1.000000  ...  0.041265  0.239528  0.065068
skin    -0.081672  0.057328  0.207371  ...  0.183928 -0.113970  0.074752
test    -0.073535  0.331357  0.088933  ...  0.185071 -0.042163  0.130548
mass     0.017683  0.221071  0.281805  ...  0.140647  0.036242  0.292695
pedi    -0.033523  0.137337  0.041265  ...  1.000000  0.033561  0.173844
age      0.544341  0.263514  0.239528  ...  0.033561  1.000000  0.238356
classes  0.221898  0.466581  0.065068  ...  0.173844  0.238356  1.000000

[9 rows x 9 columns]

What column has the highest correlation with class? Find the mean() value of that column

In [26]:
plas_mean = data["plas"].mean()
plas_mean

120.89453125

Create a new dataframe with only people that are above the mean found above

In [28]:
data_plas_boolean = data.plas > plas_mean
new_data = data[data_plas_boolean]
new_data

Create a new dataframe that only includes people who are above the average value for each column in the dataset (except 'class'). In other words, find the average value for each column, and then find which users have values above all of these average column values

In [31]:
data_preg_boolean = data.preg > data.preg.mean()
data_plas_boolean = data.plas > data.plas.mean()
data_pres_boolean = data.pres > data.pres.mean()
data_skin_boolean = data.skin > data.skin.mean()
data_test_boolean = data.test > data.test.mean()
data_mass_boolean = data.mass > data.mass.mean()
data_pedi_boolean = data.pedi > data.pedi.mean()
data_age_boolean = data.age > data.age.mean()
data_classes_boolean = data.classes > data.classes.mean()

data_boolean = data[data_preg_boolean & data_plas_boolean & data_pres_boolean & data_skin_boolean & data_test_boolean & data_mass_boolean & data_pedi_boolean & data_age_boolean & data_classes_boolean]

data_boolean

     preg  plas  pres  skin  test  mass   pedi  age  classes
43      9   171   110    24   240  45.4  0.721   54        1
152     9   156    86    28   155  34.3  1.189   42        1
159    17   163    72    41   114  40.9  0.817   47        1
175     8   179    72    42   130  32.7  0.719   36        1
206     8   196    76    29   280  37.5  0.605   57        1
215    12   151    70    40   271  41.8  0.742   38        1
236     7   181    84    21   192  35.9  0.586   51        1
259    11   155    76    28   150  33.3  1.353   51        1
375    12   140    82    43   325  39.2  0.528   58        1
424     8   151    78    32   210  42.9  0.516   36        1
458    10   148    84    48   237  37.6  1.001   51        1
546     5   187    76    27   207  43.6  1.034   53        1
603     7   150    78    29   126  35.2  0.692   54        1
612     7   168    88    42   321  38.2  0.787   40        1
614    11   138    74    26   144  36.1  0.557   50        1
663     9   145    80    46   130  37.9  0.637   40        1

Ignoring the index (resetting the index to 0), sort the values based on "skin", "test", and "pedi" values in ascending order. Please write this in one line.

In [35]:
filtered = data_boolean.sort_values(by=['skin','test','pedi'], ascending=True, na_position='first').reset_index(drop=True)
filtered

    preg  plas  pres  skin  test  mass   pedi  age  classes
0      7   181    84    21   192  35.9  0.586   51        1
1      9   171   110    24   240  45.4  0.721   54        1
2     11   138    74    26   144  36.1  0.557   50        1
3      5   187    76    27   207  43.6  1.034   53        1
4     11   155    76    28   150  33.3  1.353   51        1
5      9   156    86    28   155  34.3  1.189   42        1
6      7   150    78    29   126  35.2  0.692   54        1
7      8   196    76    29   280  37.5  0.605   57        1
8      8   151    78    32   210  42.9  0.516   36        1
9     12   151    70    40   271  41.8  0.742   38        1
10    17   163    72    41   114  40.9  0.817   47        1
11     8   179    72    42   130  32.7  0.719   36        1
12     7   168    88    42   321  38.2  0.787   40        1
13    12   140    82    43   325  39.2  0.528   58        1
14     9   145    80    46   130  37.9  0.637   40        1
15    10   148    84    48   237  37.6  1.001   51        1

Notice that there are some repeats in values (like in the age and the preg column).

Now Let's find the 4 largest values for "age" and "mass". Reference the pandas documentation (https://pandas.pydata.org/docs/) if you are stuck!

In [48]:
filtered_by_age_and_mass = filtered.sort_values(by=['age','mass'], ascending=False, na_position='first')
filtered_by_age_and_mass[0:4]

    preg  plas  pres  skin  test  mass   pedi  age  classes
13    12   140    82    43   325  39.2  0.528   58        1
7      8   196    76    29   280  37.5  0.605   57        1
1      9   171   110    24   240  45.4  0.721   54        1
6      7   150    78    29   126  35.2  0.692   54        1

Now find the smallest 4 values for "plas" and "preg" in reverse order (largest to smallest). Please refer to the API documentation if you are stuck-- https://pandas.pydata.org/pandas-docs/stable/reference/index.html

In [52]:
filtered_by_plas_and_preg = filtered.sort_values(by=['plas','preg'], ascending=False, na_position='first')
filtered_by_plas_and_preg[0:4]

    preg  plas  pres  skin  test  mass   pedi  age  classes
7      8   196    76    29   280  37.5  0.605   57        1
3      5   187    76    27   207  43.6  1.034   53        1
0      7   181    84    21   192  35.9  0.586   51        1
11     8   179    72    42   130  32.7  0.719   36        1